parameters:
    phpVersion: 80300 # PHP 8.3
    level: 2
    paths:
        - src
        - Portlets
        - Pages
services:
    -
        class: Prado\PHPStan\DynamicMethodsClassReflectionExtension
        tags:
            - phpstan.broker.methodsClassReflectionExtension